In [18]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

source = pd.read_csv('SSC_discharge.csv')
target = pd.read_csv('SSC_pooled.csv')


source_data = np.array(source.values[:,1:],dtype=np.float32)
target_data = np.array(target.values[:,1:],dtype=np.float32)

s_mean,s_std = np.mean(source_data,axis=0),np.std(source_data,axis=0)
source_data = (source_data - s_mean) / s_std

mask = pd.isna(target_data)
target_data [mask] = 0
#plt.plot(target_data[:,1])
#print(target_data.shape)

mask_target_data  = np.ma.array(target_data,mask = mask)
t_mean,t_std = np.ma.mean(mask_target_data,axis=0),np.ma.std(mask_target_data,axis=0)
target_data = (target_data - t_mean) / t_std


T = 15
lamd_coef = 0.75
## Source-Dominant data 



## Target-Dominant data 
#print(target_data)
target_data_after = np.zeros(target_data.shape)
target_data_before = np.zeros(target_data.shape)

# after T time steps 
for i in range(T):
    target_data_after += source_data[i+1:i+1+target_data.shape[0],:]
# previous T time steps 
for i in range(T):
    comple_data = np.zeros((i+1,target_data.shape[1]))
    target_data_before += np.concatenate([comple_data,source_data[0:target_data.shape[0]-i-1,:]],axis=0)

#### generate target_dominant data 
target_dominant_data = lamd_coef * target_data + (1-lamd_coef) /(2*T+1) * (target_data_after+target_data_before+source_data[0:target_data.shape[0],:])
target_dominant_data = target_dominant_data * t_std + t_mean
target_dominant_data[mask] = np.nan

print(target_dominant_data.shape)


#plt.plot(target_dominant_data[:,1])

print(target)

target.iloc[:, 1:] = target_dominant_data

print(target)

target.to_csv('SSC_target_dominant.csv',index=None)

(2726, 20)
           date  4178000  4182000  4183000  4183500  4184500  4185000  \
0     2015/4/15      NaN      NaN      NaN      NaN      NaN      NaN
1     2015/4/16      NaN      NaN      NaN      NaN      NaN      NaN
2     2015/4/17      NaN      NaN      NaN      NaN      NaN      NaN
3     2015/4/18      NaN      NaN      NaN      NaN      NaN      NaN
4     2015/4/19      NaN      NaN      NaN      NaN      NaN      NaN
...         ...      ...      ...      ...      ...      ...      ...
2721  2022/9/26     10.0      NaN     17.0      0.6     53.0   27.008
2722  2022/9/27     10.0      NaN     18.0      0.5      NaN      NaN
2723  2022/9/28      9.0      NaN     20.0      0.5      NaN      NaN
2724  2022/9/29      9.0      NaN     21.0      0.5      NaN      NaN
2725  2022/9/30      8.0     18.0     22.0      0.5      NaN      NaN

      4185318    4185440  4186500  ...  4188496  4189000  4190000  4191058  \
0          13   4.373200     37.0  ...      NaN   21.138     55.0       23
1           8  11.494000     23.0  ...      NaN   15.277     49.0       22
2           7   3.745300     17.0  ...      NaN   18.211     44.0       36
3           6   3.828900     13.0  ...      NaN   12.158     39.0       91
4           6  28.958325     10.0  ...      NaN   12.618     71.0       71
...       ...        ...      ...  ...      ...      ...      ...      ...
2721       37   4.213400     25.0  ...     12.0   14.747     37.0       21
2722       35        NaN     23.0  ...     12.0      NaN      NaN       22
2723       34        NaN     21.0  ...     11.0      NaN      NaN       22
2724       33        NaN     20.0  ...     10.0      NaN      NaN       23
2725       34        NaN     18.0  ...      9.0      NaN      NaN       24

      4191444  4191500  4192500  4192574  4192599  4193500
0         NaN       97       57      NaN      NaN   93.065
1         NaN       71       48      NaN      NaN   58.823
2         NaN       50       44      NaN      NaN   56.013
3         NaN       46       42      NaN      NaN   81.349
4         NaN       51       43      NaN      NaN  113.240
...       ...      ...      ...      ...      ...      ...
2721     34.0       26       36      NaN      NaN   27.266
2722     35.0       26       34      NaN      NaN      NaN
2723     37.0       26       31      NaN      NaN      NaN
2724     38.0       26       29      NaN      NaN      NaN
2725     40.0       26       26      NaN      NaN      NaN

[2726 rows x 21 columns]
           date    4178000    4182000    4183000   4183500    4184500  \
0     2015/4/15        NaN        NaN        NaN       NaN        NaN
1     2015/4/16        NaN        NaN        NaN       NaN        NaN
2     2015/4/17        NaN        NaN        NaN       NaN        NaN
3     2015/4/18        NaN        NaN        NaN       NaN        NaN
4     2015/4/19        NaN        NaN        NaN       NaN        NaN
...         ...        ...        ...        ...       ...        ...
2721  2022/9/26  12.431038        NaN  16.739194  2.989371  46.209156
2722  2022/9/27  12.421949        NaN  17.412516  2.866281        NaN
2723  2022/9/28  11.658316        NaN  18.837033  2.737954        NaN
2724  2022/9/29  11.644502        NaN  19.511948  2.630969        NaN
2725  2022/9/30  10.879564  17.926856  20.168341  2.507774        NaN

        4185000    4185318    4185440    4186500  ...    4188496    4189000  \
0           NaN  25.862919   8.562064  38.983555  ...        NaN  22.021812
1           NaN  21.772673  13.761364  28.230743  ...        NaN  17.422974
2           NaN  20.674798   7.807262  23.470864  ...        NaN  19.429802
3           NaN  19.565057   7.726960  20.209614  ...        NaN  14.691826
4           NaN  19.195143  26.431877  17.695407  ...        NaN  14.832426
...         ...        ...        ...        ...  ...        ...        ...
2721  18.709696  33.585915   4.564041  25.088872  ...  14.376402  12.418956
2722        NaN  32.073454        NaN  23.555048  ...  14.373011        NaN
2723        NaN  31.309384        NaN  21.985019  ...  13.619524        NaN
2724        NaN  30.542516        NaN  21.126694  ...  12.865321        NaN
2725        NaN  31.257084        NaN  19.565825  ...  12.110210        NaN

        4190000    4191058    4191444    4191500    4192500  4192574  4192599  \
0     61.294379  35.622657        NaN  89.303467  59.960578      NaN      NaN
1     56.309835  34.635525        NaN  69.462738  52.804919      NaN      NaN
2     52.072688  44.891125        NaN  53.386141  49.410503      NaN      NaN
3     47.824265  85.890036        NaN  50.037831  47.509168      NaN      NaN
4     71.323240  70.632193        NaN  53.426940  47.851779      NaN      NaN
...         ...        ...        ...        ...        ...      ...      ...
2721  32.909384  26.358798  39.839671  26.998096  33.791407      NaN      NaN
2722        NaN  27.040429  40.583601  26.965560  32.265808      NaN      NaN
2723        NaN  26.668995  42.042896  26.657244  29.867838      NaN      NaN
2724        NaN  27.164941  42.742194  26.387701  28.150250      NaN      NaN
2725        NaN  27.811583  44.193991  26.240358  25.773208      NaN      NaN

        4193500
0     84.250799
1     58.294295
2     55.918633
3     74.646768
4     98.279180
...         ...
2721  25.282744
2722        NaN
2723        NaN
2724        NaN
2725        NaN

[2726 rows x 21 columns]